<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.web.mall.model.AccountVO" alias="account" />
		<typeAlias type="com.web.mall.model.SocialAccountVO" alias="socialAccount" />
		<typeAlias type="com.web.mall.model.ShoppingListVO" alias="shoppingList" />
    	<typeAlias type="com.web.mall.model.ItemDTO" alias="item" />
    	<typeAlias type="com.web.mall.model.ItemOptionDTO" alias="itemOption" /> 
    	<typeAlias type="com.web.mall.model.BoardDTO" alias="Board" /> <!-- 버그 처리용으로 추가 -->
		<typeAlias type="com.web.mall.model.ZzimListVO" alias="zzim" />
		<typeAlias type="com.web.mall.model.GiveCouponVO" alias="giveCoupon" />
		<typeAlias type="com.web.mall.model.CouponVO" alias="coupon" />
		<typeAlias type="com.web.mall.model.QuestionVO" alias="question" />
		<typeAlias type="com.web.mall.model.ReportVO" alias="report" />
		<typeAlias type="com.web.mall.model.ReportReasonVO" alias="reportReason" />
		<typeAlias type="com.web.mall.model.SoldHistoryVO" alias="soldHistory" />
		<typeAlias type="com.web.mall.model.SoldDetailVO" alias="soldDetail" />
		<typeAlias type="com.web.mall.model.Manage_AccountDTO" alias="Manage_AccountDTO"/>
		<typeAlias type="com.web.mall.model.Manage_CouponDTO" alias="Manage_CouponDTO"/>
		<typeAlias type="com.web.mall.model.Manage_ItemCategoryDTO" alias="Manage_ItemCategoryDTO"/>
		<typeAlias type="com.web.mall.model.Manage_ItemDTO" alias="Manage_ItemDTO"/>
		<typeAlias type="com.web.mall.model.Manage_NoticeDTO" alias="Manage_NoticeDTO"/>
		<typeAlias type="com.web.mall.model.Manage_QuestionDTO" alias="Manage_QuestionDTO"/>
		<typeAlias type="com.web.mall.model.Manage_ReportDTO" alias="Manage_ReportDTO"/>
		<typeAlias type="com.web.mall.model.Manage_SoldHistoryDTO" alias="Manage_SoldHistoryDTO"/>
		<typeAlias type="com.web.mall.model.Manage_ImageDTO" alias="Manage_ImageDTO"/>
		<typeAlias type="com.web.mall.model.ReviewVO" alias="review" />
	</typeAliases>
</configuration>