<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <typeAlias type="com.web.mall.account.model.AccountVO" alias="account" />
    <typeAlias type="com.web.mall.myinfo.model.ShoppingListVO" alias="shoppingList" />
    <typeAlias type="com.web.mall.myinfo.model.ItemVO" alias="item" />
    <typeAlias type="com.web.mall.myinfo.model.ItemOptionVO" alias="itemOption" />
    <typeAlias type="com.web.mall.myinfo.model.ZzimListVO" alias="zzim" />
    <typeAlias type="com.web.mall.myinfo.model.GiveCouponVO" alias="giveCoupon" />
    <typeAlias type="com.web.mall.myinfo.model.CouponVO" alias="coupon" />
    <typeAlias type="com.web.mall.myinfo.model.QuestionVO" alias="question" />
    <typeAlias type="com.web.mall.myinfo.model.ReportVO" alias="report" />
    <typeAlias type="com.web.mall.myinfo.model.ReportReasonVO" alias="reportReason" />
    <typeAlias type="com.web.mall.myinfo.model.SoldHistoryVO" alias="soldHistory" />
    <typeAlias type="com.web.mall.myinfo.model.SoldDetailVO" alias="soldDetail" />
    <typeAlias type="com.web.model.Manage_AccountDTO" alias="Manage_AccountDTO"/>
	<typeAlias type="com.web.model.Manage_CouponDTO" alias="Manage_CouponDTO"/>
	<typeAlias type="com.web.model.Manage_ItemCategoryDTO" alias="Manage_ItemCategoryDTO"/>
	<typeAlias type="com.web.model.Manage_ItemDTO" alias="Manage_ItemDTO"/>
	<typeAlias type="com.web.model.Manage_NoticeDTO" alias="Manage_NoticeDTO"/>
	<typeAlias type="com.web.model.Manage_QuestionDTO" alias="Manage_QuestionDTO"/>
	<typeAlias type="com.web.model.Manage_ReportDTO" alias="Manage_ReportDTO"/>
	<typeAlias type="com.web.model.Manage_SoldHistoryDTO" alias="Manage_SoldHistoryDTO"/>
  </typeAliases>
</configuration>