@charset "UTF-8";
.info {
  display: flex;
  justify-content: center;
}

.infoHeader {
  margin-top: 30px;
  margin-bottom: 15px;
}

#backPage {
  font-size: 2.5em;
  color: rgb(231, 76, 60);
}

.form-div {
  display: flex;
  justify-content: center;
  padding-left: 20px;
}

#form table {
	min-width:650px;
}

th {
  text-align: left;
  width: 100px;
}

td {
  padding: 5px 20px 5px 0;
}

#bootstrap-update-pwd, button{
  width: 94px;
  padding: 4px 15px;
  border-radius: 5px;

  background-color: rgb(224, 224, 224);
  color: rgb(64, 64, 64);
  border: none;
}

#bootstrap-update-pwd:hover, button:hover {
  background-color: rgb(231, 76, 60);
  color: white;
}

.button {
  display: flex;
  justify-content:space-between;
}

.button > a {
  color: rgb(170, 170, 170);
  text-decoration: none;
}

.button > a:hover {
  color: rgb(120, 120, 120);
}

#pwdNext {
  border-color: rgb(231, 76, 60);
  background-color: rgb(231, 76, 60);
}

#pwdNext:hover {
  border-color: rgb(190, 64, 50);
  background-color: rgb(190, 64, 50);
}
