@charset "UTF-8";
.report-body {
    display: flex;
    justify-content: center;
}

.reportHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

#backPage {
    font-size: 2.5em;
    color: rgb(231, 76, 60);
}
  
.reportBody {
    display: flex;
    flex-direction: column;
    align-content: center;
}

table {
    width: 80vw;
    text-align: center;
    margin: 10px 0 20px 0;
    border-top: 1px solid rgb(150, 150, 150);
    border-bottom: 1px solid rgb(150, 150, 150);
}

table thead {
    border-bottom: 1px solid rgb(150, 150, 150);
}

table tbody tr {
    cursor: pointer;
}

table td {
    padding: 5px;
}

table tr td:nth-child(1){
    width: 30%;
    border-left: none;
}
table tr td:nth-child(2){
    width: 20%;
}
table tr td:nth-child(3){
    width: 15%;
}
table tr td:nth-child(4){
    width: 20%;
}
table tr td:nth-child(5){
    width: 15%;
}

table tbody tr:hover {
    background-color: #f2f3ee8a;
}

button{
    width: 94px;
    padding: 4px 15px;
    border-radius: 5px;
  
    background-color: rgb(224, 224, 224);
    color: rgb(64, 64, 64);
    border: none;
}

button:hover {
    background-color: rgb(231, 76, 60);
    color: white;
}