.article-container {
    position: relative;
}

.btns {
    position: absolute;
    margin-top: -50px;
    right: 20px;
}

.btn {
    width: 120px; height: 40px;
    border-radius: 10px;
    background-color: white;
    font-weight: bold;
    margin-left: 10px;
    border: 1px solid #999;
}

.title {
    width: 100%;
    display: flex;
}

.title li {
    position: relative;
    width: calc(100% / 4); height: 100%;
    text-align: center;
    margin-top: 3vh;
    font-weight: bold;
}

.line {
    width: 95%; height: 2px;
    background-color: black;
    margin: 1.5vh auto;
}

.list {
    width: 100%;
    display: flex;
}

.list li {
    position: relative;
    width: calc(100% / 4); height: 100%;
    text-align: center;
}

.list input {
    border-radius: 5px;
    outline: none;
    border: 1px solid #000;
    height: 25px;
    padding: 3px;
}

.detail {
    width: 80px !important;
}