.title {
    width: 100%;
    display: flex;
}

.title li {
    position: relative;
    width: calc(100% / 4); height: 100%;
    text-align: center;
    margin-top: 3vh;
    font-weight: bold;
}

.line {
    width: 95%; height: 2px;
    background-color: black;
    margin: 1.5vh auto;
}

.list {
    width: 100%;
    display: flex;
}

.list li {
    position: relative;
    width: calc(100% / 4); height: 100%;
    text-align: center;
}

.list button {
    width: 50px;
    background-color: black;
    color: white;
    border: 0;
    border-radius: 8px;
    padding: 3px;
}

.detail {
    width: 80px !important;
}