.title {
    width: 100%;
    display: flex;
}

.title li {
    position: relative;
    width: calc(100% / 4);
    height: 100%;
    text-align: center;
    margin-top: 3vh;
    font-weight: bold;
}

.line {
    width: 95%;
    height: 2px;
    background-color: black;
    margin: 1.5vh auto;
}

.list {
    width: 100%;
    display: flex;
}

.list li {
    position: relative;
    width: calc(100% / 6);
    height: 100%;
    text-align: center;
    margin-top: 10px;
}

/* .list button {
    width: 50px;
    background-color: black;
    color: white;
    border: 0;
    border-radius: 8px;
    padding: 3px;
} */

.detail {
    width: 80px !important;
    width: 50px;
    background-color: black;
    color: white;
    border: 0;
    border-radius: 8px;
    padding: 3px;
}

select {
    width: 80px;
    text-align: center;
    padding: 3px;
    border: 1px solid #999;
    font-family: inherit;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}