.article-before {
    width: calc(100% / 4);
    padding: 2vw;
}

.article-before>p {
    font-size: 26px;
    text-align: center;
}

.head-text {
    font-size: 26px;
    text-align: center;
}

a:link {
	color: black; text-decoration: none;
}

a:visited {
	color: black; text-decoration: none;
}

a:hover {
	color: black; text-decoration: none;
}

.article-before .img {
    width: 100%;
    height: 62vh;
    background-color: black;
    margin: 5vh 0;
}

.article-after {
    width: calc(80% - 10vw);
    padding: 3vw;
    position: relative;
}

.article-after>p {
    font-size: 40px;
    margin-left: 15vw;
}

.article-after .gallery-wrap {
    margin-top: 4.5vh;
    overflow: hidden;
}

.article-after .gallery-wrap>.gallery-group {
    display: flex;
    width: 300%;
    transition: 1s;
}

.article-after .gallery-wrap .gall-img {
    width: 100%; height: 62vh;
}

.article-after .btns {
    position: absolute;
    background: transparent;
    border: none;
    font-size: 40px;
    margin-top: -36vh;
    padding: 30px;
}

.article-after .right {
    right: 3.5vw;
}

.article-after {
    display: none;
}

/* js 연결 class */
.slide-1 {
    transform: translateX(0vw);
}

.slide-2 {
    transform: translateX(-58.1vw);
}

.slide-3 {
    transform: translateX(calc(-58.1vw * 2))
}

/* background-color */
#before-1 {
    background-color: red;
}

#before-2 {
    background-color: orange;
}

#before-3 {
    background-color: yellow;
}

#before-4 {
    background-color: green;
}

/* 이미지 경로 */
.img {
    background-position: center;
    background-size: cover;
}

.article-after .i1 {
    background-color: pink;
}

.article-after .i2 {
    background-color: blue;
}

.article-after .i3 {
    background-color: violet;
}